.DS_Store
Thumbs.db
/fsh-generated
/input-cache
/output
/temp
/template
.npmrc
/node_modules
/.project
/target/
/.classpath
publisher.jar
package-lock.json
localscripts/node_modules/*
validator_cli.jar
.idea/
.vscode/settings.json
*.log
org.hl7.fhir.validator.jar
build-ig.sh
build.sh
icp-conformance-module.iml
